body {
    font-family: "Roboto", sans-serif;
    font-size: 17px;
    background-color: #F7F7F7;
    padding: 8px;
}

* {
    box-sizing: border-box;
    background: transparent;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -16px;
}

.space-top {
    margin-top: 20px;
}

.space-left {
    margin-left: 20px;
}

.space-right {
    margin-right: 20px;
}

.col-4 {
    -ms-flex: 33%;
    flex: 33%;
}

.col-6 {
    -ms-flex: 50%;
    flex: 50%;
}

.col-8 {
    color: #000000;
    -ms-flex: 66%;
    flex: 66%;
}

.col-4,
.col-4,
.col-6,
.col-8 {
    padding: 0 16px;
}

.container {
    background-color: white;
    padding: 20px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

input[type=text] {
    width: 100%;
    margin-bottom: 30px;
    padding: 12px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 20px;
}

label {
    margin-bottom: 10px;
    display: block;
}

.icon-container {
    margin-bottom: 20px;
    padding: 7px 0;
    font-size: 24px;
}

.btn {
    background-color: rgb(105, 114, 197);
    border-radius: 20px;
    color: white;
    padding: 15px;
    margin: 10px 0;
    border: none;
    width: 100%;
    cursor: pointer;
    font-size: 17px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.btn:hover {
    background-color: #2d00f7;
}

a {
    color: rgb(3, 3, 3);
    text-decoration: none;
}

hr {
    border: 1px solid lightgrey;
}

span.price {
    float: right;
    color: grey;
}

@media (max-width: 800px) {
    .row {
        flex-direction: column-reverse;
    }
    .col-4 {
        margin-bottom: 20px;
    }
}

.price {
    color: black;
}